/* Общие стили страницы */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212; /* Темный фон для лучшего контраста */
    color: #ffffff; /* Белый текст */
    margin: 0;
    padding: 20px;
}

/* Блок выбора камер */
#selection {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #1e1e1e;
    border-radius: 8px;
    display: inline-block;
}

/* Стили кнопки запуска */
button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #cc0000;
}

/* Контейнер для видеопотоков */
#streams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Блок каждой камеры */
.cam {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
    transition: 0.3s;
    text-align: center;
    width: 340px;
}

.cam:hover {
    box-shadow: 0 6px 12px rgba(255, 0, 0, 0.7);
}

/* Стилизация видеопотока */
.cam img {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ff0000;
}
